/* --- ABAS --- */

.aba {
	--_abas-border-radius: var(--fio-sys-size-radius-md);
	--_abas-border: transparent;
	--_abas-color: transparent;
	--_abas-color-nav: var(--fio-sys-color-secondary-extra-light);
	--_abas-color-nav-border-radius: var(--fio-sys-size-radius-lg);
	--_abas-color-active: var(--fio-sys-color-secondary-medium);
	--_abas-text-color:var(--fio-sys-color-accent-medium);
	--_abas-text-color-active:var(--fio-sys-color-primary-dark);
	--_aba-content-border: var(--fio-sys-color-primary-dark);
	--_aba-content-border-width: var(--fio-sys-size-stroke-md);

	font-family: var(--fio-sys-typography-family-secondary-regular);
}

.aba .nav-tabs {
	/* border-bottom: 1px solid var(--color-light); */
	border-bottom: 1px solid var(--primary-color);
	margin-bottom: 0 !important;
}

.aba .nav-link {
	text-decoration: none !important;
	padding: 0.5rem;
	transition: 0.2s;
	/* font-size: 1rem; */
}

.aba .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.aba .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.show .nav-link:hover {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.aba .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	border-color: var(--primary-color-light);
	background-color: var(--color-light-hover);
	color: var(--primary-color);
}
.aba .dropdown-item {
	text-decoration: none;
	padding: 0.5rem 1rem;
	font-weight: 400;
}

.aba .dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: var(--primary-color);
}

.aba .tab-content {
	/* border-bottom: 1px solid #e9ecef; */
	background-color: var(--secondary-color-extra-light);
	padding: 1.5rem;
}

.boot-tabs {
	margin-bottom: 20px !important;
}

@media (max-width: 576px) {
	.abas .nav-link {
		font-size: 1.1rem;
	}
}

@media (min-width: 992px) {
	.abas .nav-link {
		padding: 0.5rem;
	}
}

/* --- ABA ---  */

.aba .nav {
	background-color: var(--_abas-color-nav);
	border-radius: var(--_abas-color-nav-border-radius);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: var(--fio-sys-size-margin-xs);
}

.aba .nav.nav-fill .nav-item {
	width: 50%;
}
.aba .nav.nav-fill .nav-item .nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--fio-sys-color-accent-medium);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.aba .nav.nav-pills .nav-link.active,
.aba .nav.nav-pills .show > .nav-link {
	color: var(--_abas-text-color-active);
	background-color: var(--_abas-color-active);
	border-radius: var(--_abas-border-radius);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
	
.aba .nav.nav-fill .nav-item .nav-link:focus {
	color: var(--_abas-text-color);
}

.aba .nav.nav-fill .nav-item .nav-link:hover {
	color: var(--_abas-text-color-active);
}

.aba .tab-content {
	background-color: transparent;
	border-color: var(--_aba-content-border);
	border-width: var(--_aba-content-border-width);
	border-style: solid;
	border-radius: var(--_abas-color-nav-border-radius);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.aba .tab-content .tab-pane .tab-pane-content {
	padding: var(--fio-sys-size-padding-lg);
}


.aba .tab-content .tab-pane .tab-pane-footer {
	display:flex;
	justify-content: space-between;
	align-items: end;
	padding: 0 var(--fio-sys-size-padding-lg);
}

@media (min-width: 768px) {
	.aba .nav {
		border-radius: var(--fio-sys-size-radius-lg);
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.aba .nav.nav-fill .nav-item {
		width: auto;
	}
}
