/* --- ACCORDION --- */

.accordion-item {
	--_accordion-border-radius: var(--fio-sys-size-radius-lg);
	--_accordion-border: transparent;
	--_accordion-border-width: var(--fio-sys-size-stroke-md);
	--_accordion-border-hover: var(--fio-sys-color-primary-dark);

	--_accordion-color:transparent;
	--_accordion-color-hover: var(--fio-sys-color-secondary-light);
	--_accordion-text-color: var(--fio-sys-color-tertiary-dark);
	--_accordion-text-color-hover: var(--fio-sys-color-primary-dark);

}

.accordion-item .accordion-button {
	border-top-left-radius: var(--_accordion-border-radius);
	border-top-right-radius: var(--_accordion-border-radius);
	border-color:var(--_accordion-border);
	border-width:var(--_accordion-border-width);
	border-style:solid;
	background-color:var(--_accordion-color);
	color:var(--_accordion-text-color);

	font-size: var(--fio-sys-typography-size-1);
	color: var(--fio-sys-color-accent-medium);
}

.accordion-item .accordion-button:hover,
.accordion-button:not(.collapsed) {
	border-color:var(--_accordion-border-hover);
	background-color:var(--_accordion-color-hover);
	color:var(--_accordion-text-color-hover);
}

.accordion-item:first-of-type .accordion-button {
	border-top-left-radius: var(--_accordion-border-radius);
	border-top-right-radius: var(--_accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: var(--_accordion-border-radius);
	border-bottom-left-radius: var(--_accordion-border-radius);
}

.accordion-button:not(.collapsed)::after {
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C70596'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
	background-image: url(../../../media/templates/accordion-icon.svg);
	transform: rotate(-180deg);
}
.accordion-button::after {
	/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C70596'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
	background-image: url(../../../media/templates/accordion-icon.svg);
	background-color:var(--fio-sys-color-secondary-medium);
	background-size:var(--fio-sys-size-padding-lg);
	background-position: center;
	border-radius: var(--fio-sys-size-radius-full);
	padding: var(--fio-sys-size-padding-md);
	/* width: 3rem;
    height: 3rem; */
}

.accordion .accordion-item .accordion-collapse {
	border-color:var(--_accordion-border-hover);
	border-width:var(--_accordion-border-width);
	border-bottom-right-radius: var(--_accordion-border-radius);
	border-bottom-left-radius: var(--_accordion-border-radius);
	border-style:solid;
	border-top:0;
	background-color:var(--_accordion-color);
	color:var(--_accordion-text-color);
}

.accordion .accordion-item .accordion-collapse .accordion-body {
	overflow: hidden;
}

.accordion .accordion-item .accordion-collapse .accordion-body > :last-child {
	margin-bottom: var(--fio-sys-size-padding-xl);
}

/* .accordion .accordion-item:last-of-type .accordion-collapse {
	border-bottom-right-radius: var(--_accordion-border-radius);
	border-bottom-left-radius: var(--_accordion-border-radius);
} */

.accordion .accordion-item .accordion-collapse .accordion-footer {
	display:flex;
	justify-content: space-between;
	align-items: end;
	padding: 0 1rem;
}
