/* --- CARD --- */

.card {
	/* Card - base */
	--_card-background: var(--fio-sys-color-neutral-white);
	--_card-border-color: var(--fio-sys-color-primary-dark);
	--_card-border-width: var(--fio-sys-size-stroke-md);
	--_card-border-radius: var(--fio-sys-size-radius-lg);

	/* Card - elevation */
	--_card-elevation-low: var(--fio-sys-elevation-sm);
	--_card-elevation-medium: var(--fio-sys-elevation-md);
	--_card-elevation-high: var(--fio-sys-elevation-lg);
	--_card-elevation-higher: var(--fio-sys-elevation-xl);

	/* Card - primary color */
	--_card-background-primary: var(--fio-sys-color-primary-medium-contrast);
	--_card-border-color-primary: var(--fio-sys-color-primary-dark-contrast);

	/* Card - thumb */
	--_card-thumb-padding: var(--fio-sys-spacing-padding-0);
	--_card-thumb-border-radius: var(--fio-sys-spacing-border-radius-0);

	/* Card - header */
	--_card-header-padding-y: var(--fio-sys-size-padding-md);
	--_card-header-padding-x: var(--fio-sys-size-padding-md);

	--_card-header-background: var(--fio-sys-color-secondary-light);
	--_card-header-family: var(--fio-sys-typography-family-secondary-regular);
	--_card-header-line-height: var(--fio-sys-typography-height-150);
	--_card-header-size: var(--fio-sys-typography-size-0);
	--_card-header-tracking: var(--fio-sys-typography-spacing-normal);

	/* Card - body */
	--_card-body-padding-y: var(--fio-sys-size-padding-md);
	--_card-body-padding-x: var(--fio-sys-size-padding-md);

	/* Card - footer */
	--_card-footer-padding-y: var(--fio-sys-size-padding-md);
	--_card-footer-padding-x: var(--fio-sys-size-padding-md);


	background-color: var(--_card-background);
	border-color: var(--_card-border-color);
	border-width: var(--_card-border-width);
	border-radius: var(--_card-border-radius);
	overflow: hidden;
	transition: ease-out;
	transition-duration: 0.5s;
}

.card.card-primary {
	background-color: var(--_card-background-primary);
	border-color: var(--_card-border-color-primary);
}

.card .card-thumb {
	padding: var(--_card-thumb-padding);
	margin: 0;
	border-radius: var(--_card-border-radius);
}
.card .card-thumb img {
	height: auto;
	max-width: 100%;
}
/* .card > div:first-of-type,
.card > .card-thumb:first-of-type img {
	border-top-left-radius: var(--_card-border-radius);
	border-top-right-radius: var(--_card-border-radius);
}
.card > div:last-of-type,
.card > .card-thumb:last-of-type img {
	border-bottom-left-radius: var(--_card-border-radius);
	border-bottom-right-radius: var(--_card-border-radius);
} */
.card .card-header {
	background-color: var(--_card-header-background);
	color: var(--fio-sys-color-primary-dark);
	font-family: var(--_card-header-family);
	font-size: var(--_card-header-size);
	letter-spacing: var(--_card-header-tracking);
	line-height: var(--_card-header-line-height);
	margin: 0;
	padding: var(--_card-header-padding-y) var(--_card-header-padding-x);
}

/* .card .card-body,
.card .card-footer {
	background-color: var(--_card-background);
} */

.card .card-body {
	padding: var(--_card-body-padding-y) var(--_card-body-padding-x);
}
.card .card-body :last-child {
	margin-bottom: 0;
}
.card .card-footer {
	border-bottom-left-radius: var(--_card-border-radius);
    border-bottom-right-radius: var(--_card-border-radius);
    padding: var(--_card-footer-padding-y) var(--_card-footer-padding-x);
    background-color: var(--fio-sys-color-neutral-white);
    display: flex;
    flex-direction: column;
	gap: var(--fio-sys-size-padding-sm);
    justify-content: space-around;
}

/* Compare cards */
.compare-symbol span {
	color:var(--fio-sys-color-primary-dark);
	font-family: var(--fio-sys-typography-family-secondary-regular);
	font-size: var(--fio-sys-typography-size-5);
}

.compare-symbol.different span {
	font-weight: 700;
	font-size: var(--fio-sys-typography-size-6);
}

.compare-symbol span.material-symbols-rounded {
	font-size: 4rem;
	font-weight: 600;
}

/*Desktop from 992px and above*/
@media (min-width: 992px) {
	.card .card-footer {
		flex-direction: row;
		gap:0;
		padding: var(--_card-footer-padding-y) var(--fio-sys-size-padding-xs);
	}
}
